header {
    background-color: lightgreen;
    padding: 10px;
}

.headline {
    font-size: 30px;
}

.system_menu {
    float: right;
}

.system_menu_item {
    margin: 5px;
}

.wide {
    width: 100%;
}

.errorlist {
    color: red;
}
