{% extends "base_authenticated.html" %}

{% block content %}

    <table>
        <tr valign="top">
            <td>
                <p></p>

                <div><u>Subject:</u></div>
                <div>{{object.subject}}</div>

                <p></p>

                <div><u>Text:</u></div>
                <div>{{object.text}}</div>

                <p></p>

                <div><u>Specific data:</u></div>
                <div>{{object.specificData}}</div>

                <p></p>

                <div><u>Sent time:</u></div>
                <div>{{object.sentDateTime}}</div>

                <p></p>
            </td>
            <td>
                <b>all emails:</b>
                <ul>
                    {% for e in view.all_emails %}
                        <li>{{e.subject}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}