{% extends "base_authenticated.html" %}

{% block content %}

    <style>
        table tr:nth-child(even) {
            background-color: #eee;
        }
        table tr:nth-child(odd) {
           background-color:#fff;
        }
    </style>

    <p></p><a href="create"> Create new </a></p>

    {% if email_list %}
        <table>
            {% for email in email_list %}
                <tr>
                    <td>
                        <a href="{{email.id}}">{{email.subject}}</a>
                    </td>
                    {% if email.sentDateTime %}
                        <td><a href="{{email.id}}/duplicate">Create copy</a></td>
                        <td>sent: {{email.sentDateTime}}</td>
                    {% else %}
                        <td>
                            <a href="{{email.id}}/edit">(Edit)</a>
                            <a href="{{email.id}}/delete">(Delete)</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>no emails</p>
    {% endif %}

{% endblock %}
