{% extends "base_unauthenticated.html" %}

{% block heading %}
    Log in
{% endblock %}

{% block system_menu %}
    <a href="/accounts/create"> Create account </a>
{% endblock %}


{% block content %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}"> <!--'accounts:login'-->
        {% csrf_token %}
        <table>
        {{form}}
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{next}}" />

    </form>

    <p>
        <a href='/accounts/password_reset/'>Can't access to your account?</a>
    <p>
{% endblock %}

